<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/globals.css">
<link rel="stylesheet" href="/components/Links/css/links_container.css">
<section class="links_container-container section">
  <div class="links_container-content">
    <div class="links_title-container">
      <h2 class="links_title">Links</h2>
    </div>
    {{shop_link}}
    {{users_link}}
    {{finance_overview_link}}
    {{stock_link}}
  </div>
</section>
<script src="/components/Links/js/links_container.js"></script>
<script src="/js/globals.js"></script>

