.brand_banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.brand_banner-content {
  text-align: center;
}

.brand_banner-logo {
  width: 100%;
  height: auto;
  padding: 20px;
}