<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/globals.css">
<link rel="stylesheet" href="/components/General/css/submit_btn.css">
<section class="submit_btn-container section">
  <div class="submit_btn-content">
    <button class="submit_btn btn primary-btn" id="submit_btn" onclick="submitForm()">
      <span class="submit_btn-text">Submit</span>
  </div>
</section>
<script src="/components/General/js/submit_btn.js"></script>
<script src="/js/globals.js"></script>

