<link rel="stylesheet" href="/css/globals.css">
<link rel="stylesheet" href="/components/Login/css/enter_username.css">
<section class="enter_username-container section">
  <div class="enter_username-content">
    <label class="enter_username-label" for="username">Enter your username:</label>
    <input class="enter_username-input" type="text" id="username" name="username" placeholder="Username" required>
  </div>
</section>
<script src="/components/Login/js/enter_username.js"></script>
<script src="/js/globals.js"></script>

