<link rel="stylesheet" href="/components/Login/css/login_form.css">
<link rel="stylesheet" href="/css/globals.css">
<section class="login_form-container section">
  <div class="login_form-content">
    <div class="login_form-header">
      <h1 class="login_form-title">Login</h1>
    </div>
    <div class="login_form-inputs">
      {{username_input}}
      {{password_input}}
      {{submit_button}}
    </div>
  </div>
</section>
<script src="/components/Login/js/login_form.js"></script>
<script src="/js/globals.js"></script>

