NODE_ENV={{ stockcontrol_environment }}
HOST=0.0.0.0
PORT=3000
WORKER_HEALTH_HOST=0.0.0.0
WORKER_HEALTH_PORT=3001
DATABASE_URL={{ ("postgresql://stockcontrol_app:" ~ (vault_database_runtime_password | urlencode) ~ "@postgres:5432/stockcontrol") | to_json }}
SESSION_SECRET={{ vault_session_secret | to_json }}
FIELD_ENCRYPTION_KEY={{ vault_field_encryption_key | to_json }}
S3_REGION={{ stockcontrol_aws_region | to_json }}
S3_BUCKET={{ stockcontrol_documents_bucket | to_json }}
S3_ACCESS_KEY_ID={{ vault_documents_aws_access_key_id | to_json }}
S3_SECRET_ACCESS_KEY={{ vault_documents_aws_secret_access_key | to_json }}
