AWS_DEFAULT_REGION={{ stockcontrol_aws_region | to_json }}
AWS_ACCESS_KEY_ID={{ vault_backup_aws_access_key_id | to_json }}
AWS_SECRET_ACCESS_KEY={{ vault_backup_aws_secret_access_key | to_json }}
BACKUPS_BUCKET={{ stockcontrol_backups_bucket | to_json }}
POSTGRES_DB=stockcontrol
POSTGRES_USER=stockcontrol_backup
