NODE_ENV=production
DATABASE_MIGRATOR_URL={{ ("postgresql://stockcontrol_migrator:" ~ (vault_database_migrator_password | urlencode) ~ "@postgres:5432/stockcontrol") | to_json }}
DATABASE_RUNTIME_ROLE=stockcontrol_app
