POSTGRES_DB=stockcontrol
POSTGRES_USER=stockcontrol_admin
POSTGRES_PASSWORD={{ vault_database_admin_password | to_json }}
STOCKCONTROL_MIGRATOR_PASSWORD={{ vault_database_migrator_password | to_json }}
STOCKCONTROL_RUNTIME_PASSWORD={{ vault_database_runtime_password | to_json }}
STOCKCONTROL_BACKUP_PASSWORD={{ vault_database_backup_password | to_json }}

